# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode settings (uncomment if you want to ignore VSCode settings)
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Android Studio build folders
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
/android/build/

# iOS Pods and Flutter binaries
/ios/Pods/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
